nav {
  display: flex;
  justify-content: center;
}
li {
  transition: transform 2s;
}
li:hover {
  display: block;
  width: 10vw;
  transform: scale(2); /*escale lo pone más grande*/
}
div {
  position: fixed;
  width: 10vmax;
  height: 10vmax;
  background-color: orange;
  border-radius: 50% 50%;
  left: 0vw; /*pegado a la izquierda*/
}
@keyframes mover {
  from {
    left: 0vw;
  }
  to {
    left: calc(100vw - 10vmax); /*calcula unidades medida*/
  }
}

div {
  animation: mover 5s linear 1s infinite alternate running;
}
/*mover es el tiempo 
linear es una funcion que Especifica una animación con la misma velocidad de principio a fin */
